<app-navbar></app-navbar>

<div class="form-container">
  <form [formGroup]="conversionForm" (ngSubmit)="convertCurrency()" class="conversion-form">
    <div class="form-group">
      <label for="amount">Montant:</label>
      <input type="number" id="amount" formControlName="amount" required>
    </div>

    <div class="form-group">
      <label for="fromCurrency">Devise:</label>
      <select id="fromCurrency" formControlName="fromCurrency">
        <option *ngFor="let currency of exchangeRates?.rates | keyvalue" [value]="currency.key">{{currency.key}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="toCurrency">Devise:</label>
      <select id="toCurrency" formControlName="toCurrency">
        <option *ngFor="let currency of exchangeRates?.rates | keyvalue" [value]="currency.key">{{currency.key}}</option>
      </select>
    </div>

    <button type="submit" class="convert-button">Convertir</button>
  </form>

  <div *ngIf="convertedValue" class="result">
    <p>La somme est: {{ convertedValue }}</p>
  </div>
</div>
