<app-navbar></app-navbar>

<div class="form-container">
  <form [formGroup]="conversionForm" (ngSubmit)="convertCurrency()" class="conversion-form">
    <div class="form-group">
      <label for="amount">Montant:</label>
      <input type="number" id="amount" formControlName="amount" required>
      <div *ngIf="conversionForm.get('amount')?.invalid && conversionForm.get('amount')?.touched" class="error-message">
        <p *ngIf="conversionForm.get('amount')?.errors?.['required']">Le montant est obligatoire.</p>
        <p *ngIf="conversionForm.get('amount')?.errors?.['min']">Le montant doit être supérieur à zéro.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="fromCurrency">Devise:</label>
      <select id="fromCurrency" formControlName="fromCurrency">
        <option *ngFor="let currency of exchangeRates?.rates | keyvalue" [value]="currency.key">{{currency.key}}</option>
      </select>
      <div *ngIf="conversionForm.get('fromCurrency')?.invalid && conversionForm.get('fromCurrency')?.touched" class="error-message">
        <p>Veuillez sélectionner une devise.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="toCurrency">Devise:</label>
      <select id="toCurrency" formControlName="toCurrency">
        <option *ngFor="let currency of exchangeRates?.rates | keyvalue" [value]="currency.key">{{currency.key}}</option>
      </select>
      <div *ngIf="conversionForm.get('toCurrency')?.invalid && conversionForm.get('toCurrency')?.touched" class="error-message">
        <p>Veuillez sélectionner une devise.</p>
      </div>
    </div>

    <button type="submit" class="convert-button">Convertir</button>
  </form>

  <div *ngIf="convertedValue !== 0" class="result">
    <p>La somme est: {{ convertedValue }} {{converteddev}}</p>
  </div>
</div>
