<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="/assets/6009864.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Portail Client</h1>
            <p class="card-text">Espace Client pour les achats et les ventes des devises.</p>
            <a href="#" routerLink="/portailC" class="btn btn-primary" *ngIf="!isLoggedIn">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="/assets/banquier (1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Portail Banquiers</h1>
            <p class="card-text">Espace banque pour se connecter avec les clients.</p>
            <a href="#" routerLink="/portailB" class="btn btn-primary" *ngIf="!isLoggedIn">Accéder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  