<app-navbar></app-navbar>
<div class="container mt-3">
  <div class="row align-items-center">
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="nomd">
        <option *ngFor="let nom of NomDevList" [value]="nom">{{ nom }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <mat-form-field class="w-100">
        <mat-label>Sélectionner la date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateInput)="selectedDate = formatDate($event.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput type="number" placeholder="Entrer la somme d'argent" [(ngModel)]="money">
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="fetchTableData()">Valider</button>
    </div>
  </div>
</div>

<div class="container mt-3" *ngIf="isDataLoaded && tableData.length > 0">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="custom-thead">
            <tr>
              <th scope="col">Code devise</th>
              <th scope="col">Nom devise</th>
              <th scope="col">Drapeau</th>
              <th scope="col">Nom Banque</th>
              <th scope="col">Taux d'achat * la somme d'argent</th>
              <th scope="col">Taux de vente * la somme d'argent</th>
              <th scope="col">Taux d'achat</th>
              <th scope="col">Taux de vente </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData">
              <td>{{ item.codeDev }}</td>     
              <td>{{ item.nomdevise }}</td>
              <td><img [src]="drapeau" alt="Flag" width="50"></td> 
              <td>{{ item.codeB }}</td>
              <td>{{ calculateAchat(item) }}</td>
              <td>{{ calculateVente(item) }}</td>
              <td>{{ item.achat }}</td>
              <td>{{ item.vente }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Upload CSV</h5>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="fileUpload" class="form-label">Choose a CSV file</label>
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" class="form-control">
          </div>
          <button type="button" class="btn btn-success w-100" (click)="uploadCSV()">Upload CSV</button>
        </div>
      </div>
    </div>
  </div>
</div>
