<app-navbar></app-navbar>
<div class="container">
    <div class="image-container">
        <img src="/assets/6009864.png" alt="Image">
    </div>
    <div class="form-container">
        <form (ngSubmit)="registerClient()" #registerForm="ngForm">
            <input type="email" name="email" placeholder="E-Mail" [(ngModel)]="user.email" required>
            <input type="password" name="mdp" placeholder="Mot de passe" [(ngModel)]="user.mdp" required>
            <input type="text" name="nom" placeholder="Nom" [(ngModel)]="user.nom" required>
            <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="user.prenom" required>
            <input type="text" name="cin" placeholder="Cin" [(ngModel)]="user.cin" required pattern="[0-9]{8}">          
            <p>Vous avez un compte? <a href="#" routerLink="/portailC">Se connecter</a></p>
          
            <button type="submit">S'inscrire</button>
          </form>
    </div>
</div>
